// ==================================================
// ========================= LAPTOP SM & TABLET =========================
// ==================================================


@media (max-width: 991px) {

  // ========================= Font-Size =========================


  // ========================= Layout =========================

  body {
    nav {
      font-size: 11px;
      .container {
        ul {
          li {
            a {
              text-align: center;
            }
          }
        }
      }
    }

    main {
      .slides {
        padding: 8px 0;
        .container {
          .slides-container {
            .slides-inner {
              .slide-item {
                img {
                  width: 100%;
                  height: 300px;
                }
                .slide-caption {
                  left: 10px;
                  top: 10px;

                  h1 {
                    margin-bottom: 8px;
                    font-size: 28px;
                  }

                  p {
                    margin-bottom: 10px;
                    font-size: 12px;
                  }

                  .btn {
                    font-size: 12px;
                    padding: 15px 0;
                    width: 90%;
                    margin: 0 5%;
                  }
                }
              }
            }
          }
        }
      }
    }

    footer {
      .menu {
        font-size: 12px;
        .container {
          ul {
            li {
              a {
                padding: 20px 10px;
              }
            }
          }
        }
      }
    }
  }
}
