// ========================= Colors =========================
$color-bg-body                      : #fff;
$color-bg-header                    : rgba(0,0,0,0);
$color-bg-header-top                : #e81921;
$color-bg-header-top-bar            : #181818;
$color-bg-header-head               : rgba(0,0,0,0);
$color-bg-header-btn                : #fff;
$color-bg-nav                       : rgba(0,0,0,0);


$color-ft-header-top-bar            : #fff;
$color-ft-header-top-bar-hov        : #bebebe;
$color-ft-header-head               : #181818;
$color-ft-header-btn                : #181818;
$color-ft-nav-hov                   : #e81921;
$color-ft-nav                       : #181818;
$color-ft-page                      : #181818;
$color-ft-page-2                    : #7a7a7a;
$color-ft-page-hov                  : #e81921;
$color-page-decor                   : #c7c7c7;
$color-ft-page-title                : #e81921;
$color-page-decor-2                 : #e81921;
$color-ft-footer                    : #666;

$color-bg-btn                       : #e81921;
$color-ft-btn                       : #fff;
$color-fb                           : #305891;
$color-twitter                      : #2ca8d2;
$color-google-plus                  : #ce4d39;
$color-border                       : #c7c7c7;

// ========================= Font Size =========================


// ========================= Height =========================
$height-header-head-btn            : 12px + (2 * 10);
$height-footer-btn                 : 46px;
